{% extends "base.html" %}
{% block title %} Ajouter un UTILISATEUR {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 style="margin-top: 10%">
                Entrer un nouveau utilisateur
            </h2>
            <form method="post">
                <div class="form-group">
                    <input type="text" class="form-control" name="user_html" />
                    <label for="user">
                        Nom d'utilisateur
                    </label>
                    <input type="text" class="form-control" name="email_html" />
                    <label for="email">
                        Adresse mail
                    </label>
                    <input type="text" class="form-control" name="password_html" />
                    <label for="password">
                        Mot de passe
                    </label>
                    <input type="text" class="form-control" name="firstName_html" />
                    <label for="firstName">
                        Prénom
                    </label>
                    <input type="text" class="form-control" name="lastName_html" />
                    <label for="lastName">
                        Nom de famille
                    </label>
             <p style="margin-top: 10%">
                Note : la date de création s'ajoute automatiquement quand vous cliquerez sur le bouton "Enregistrer l'utilisateur"
             </p>
                </div>
                <button type="submit" class="btn btn-primary">
                    Enregistrer l'utilisateur :)
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
