{% extends "base.html" %}
{% block title %}Update Admin{% endblock %}
{% block body %}
    <div class="home">
        <BODY bgcolor="yellow">
            <form method="POST" action="{{ url_for('admin_update') }}">
                <div>

                </div>
                <br>
                <table border="1" cellpadding="5" cellspacing="5">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom d'utilisateur</th>
                            <th>Adresse mail</th>
                            <th>Mot de passe</th>
                            <th>Prenom</th>
                            <th>Nom de famille</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tr>
                            <td><input name="id_admin_edit_html" type="hidden" value="{{ row.id_admin }}"></td>
                            <td><input type="text" name="name_edit_user_html" value="{{ row.user }}"> </td>
                            <td><input type="text" name="email_edit_email_html" value="{{ row.email }}"> </td>
                            <td><input type="text" name="password_edit_password_html" value="{{ row.password }}"> </td>
                            <td><input type="text" name="firstName_edit_firstName_html" value="{{ row.firstName }}"> </td>
                            <td><input type="text" name="lastName_edit_lastName_html" value="{{ row.lastName }}"> </td>
                            <td><input type="text" name="date_creation_edit_date_creation_html" value="{{ row.date_creation }}"> </td>
                            <td><button class="btn btn-warning" type="submit">Update</button> </td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </BODY>
    </div>
{% endblock %}