{% extends "base.html" %}
{% block title %}Afficher Utilisateurs{% endblock %}
{% block body %}
<br>
<br>
<br>
<div class="container">
    <div class="col-md-12">
        <table class="table table-bordered table-sm">
        {% if data %}
            <thead>
            <h2>Les utilisateurs administrateurs actifs</h2>
            <br>
            <br>
                <tr>
                    <th class="align-middle">
                        ID
                    </th>
                    <th class="align-middle">
                        Nom d'utilisateur
                    </th>
                    <th class="align-middle">
                        Adresse mail
                    </th>
                    <th class="align-middle">
                        Mot de passe
                    </th>
                    <th class="align-middle">
                        Prénom
                    </th>
                    <th class="align-middle">
                        Nom de famille
                    </th>
                    <th class="align-middle">
                        Date de création du user
                    </th>
                </tr>
            </thead>
            {% endif %}

            {% for row in data %}
            <tbody>
                <tr>
                    <td class="align-middle">
                        {{ row.id_admin }}
                    </td>
                    <td class="align-middle">
                        {{ row.user }}
                    </td>
                    <td class="align-middle">
                        {{ row.email}}
                    </td>
                    <td class="align-middle">
                        {{ row.password}}
                    </td>
                    <td class="align-middle">
                        {{ row.firstName}}
                    </td>
                    <td class="align-middle">
                        {{ row.lastName}}
                    </td>
                    <td class="align-middle">
                        {{ row.date_creation}}
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-warning" href="{{ url_for('admin_edit', id_admin_edit_html=row.id_admin) }}" role="button">Edit</a>
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-danger" href="{{ url_for('admin_select_delete', id_admin_delete_html=row.id_admin) }}" role="button">Delete</a>
                    </td>
                    <td class="align-middle">
                        <a class="btn btn-primary" href="{{ url_for('admin_add') }}" role="button">Add</a>
                    </td>
                </tr>
            </tbody>
            {% else %}
            <tbody>
                <tr>
                    <td>
                        Aucun exercice.
                    </td>
                    <td>
                        <a class="btn btn-primary" href="{{ url_for('admin_add') }}" role="button">Add</a>
                    </td>
                </tr>
            </tbody>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}