{% extends "base.html" %}
{% block title %}DELETE USER{% endblock %}
{% block body %}
    <div class="home">
        <BODY bgcolor="blue">
            <form method="POST" action="{{ url_for('admin_delete') }}">
                <div>

                </div>
                <br>
                <table border="1" cellpadding="5" cellspacing="5">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nom d'utilisateur</th>
                            <th>Adresse mail</th>
                            <th>Mot de passe</th>
                            <th>Prenom</th>
                            <th>Nom de famille</th>
                            <th>Date de creation</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tr>
                            <td><input type="hidden" name="id_admin_delete_html" value="{{ row.id_admin }}"></td>
                            <td>{{ row.user }}</td>
                            <td>{{ row.email }}</td>
                            <td>{{ row.password }}</td>
                            <td>{{ row.firstName }}</td>
                            <td>{{ row.lastName }}</td>
                            <td>{{ row.date_creation }}</td>
                            <td><button class="btn btn-danger" type="submit">EFFACER</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </BODY>
    </div>
{% endblock %}