={% extends "base.html" %}
{% block title %} Afficher ORDINATEURS {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p> Types à disposition</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                <tr>
                    <th class="align-middle">
                        ID
                    </th>
                    <th class="align-middle">
                        N° de série
                    </th>
                    <th class="align-middle">
                        Date d'achat
                    </th>
                    <th class="align-middle">
                        Fabriquant
                    </th>
                </tr>
            </thead>
            {% endif %}

            {% for row in data %}
                <tbody>
                    <tr>
                        <td class="align-middle">
                            {{ row.id_computers }}
                        </td>
                        <td class="align-middle">
                            {{ row.serialnumber }}
                        </td>
                        <td class="align-middle">
                            {{ row.datebuy }}
                        </td>
                        <td class="align-middle">
                            {{ row.make }}
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-primary" href="{{ url_for('computers_add') }}" role="button">Add</a>
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-warning" href="{{ url_for('computers_edit', id_computers_edit_html=row.id_computers) }}" role="button">Edit</a>
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-danger"  href="{{ url_for('computers_select_delete', id_computers_delete_html=row.id_computers) }}" role="button">Delete</a>
                        </td>
                    </tr>
                </tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Il n'existe aucun ordinateur enregistré, inaugurez ce lieu !
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('computers_add') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}

