{% extends "base.html" %}
{% block title %} Ajouter un ORDINATEUR {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 style="margin-top: 10%">
                Entrer un nouvel appareil
            </h2>
            <br>
            <form method="POST">
                <div class="form-group">
                    <input type="text" class="form-control" name="serialnumber_html" />
                    <label for="serialnumber">
                        N° de série (ou TAG suivant les modèles...)
                    </label>
                    <input type="text" class="form-control" name="make_html" />
                    <label for="make">
                        Marque
                    </label>
                    <p style="margin-top: 10%">
                    Note : la date de création s'ajoute automatiquement quand vous cliquerez sur le bouton "Enregistrer l'appareils"
                    </p>
                </div>
                <button type="submit" class="btn btn-primary">
                    Enregistrer l'appareil
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}