{% extends "base.html" %}
{% block title %}Edit COMPUTERS{% endblock %}
{% block body %}
    <div class="home">
        <BODY bgcolor="yellow">
            <form method="POST" action="{{ url_for('computers_update') }}">
                <div>

                </div>
                <br>
                <table border="1" cellpadding="5" cellspacing="5">
                    <thead>
                        <tr>
                            <th>ID de l'ordinateur dans la base de données</th>
                            <th>N° de série</th>
                            <th>Marque</th>
                        </tr>
                    </thead>
                    {% for row in data %}
                        <tr>
                            <td><input type= "hidden" name="name_edit_id_computers_html" value="{{ row.id_computers }}"></td>
                            <td><input type = "text" name ="name_edit_serialnumber_html" value="{{ row.serialnumber }}"/></td>
                            <td><input type = "text" name = "name_edit_make_html" value="{{ row.make }}"/></td>
                            <td><button class="btn btn-warning" type="submit">Update</button></td>
                        </tr>
                    {% endfor %}
                </table>
            </form>
        </BODY>
    </div>
{% endblock %}