={% extends "base.html" %}
{% block title %} Afficher CLIENTS {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p> Champs à disposition</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                <tr>
                    <th class="align-middle">
                        id
                    </th>
                    <th class="align-middle">
                        Genre
                    </th>
                    <th class="align-middle">
                        Nom de famille
                    </th>
                    <th class="align-middle">
                        Prénom
                    </th>
                </tr>
            </thead>
            {% endif %}

            {% for row in data %}
                <tbody>
                    <tr>
                        <td class="align-middle">
                            {{ row.id_people }}
                        </td>
                        <td class="align-middle">
                            {{ row.politesse_people }}
                        </td>
                        <td class="align-middle">
                            {{ row.famname_people }}
                        </td>
                        <td class="align-middle">
                            {{ row.firstname_people }}
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-primary" href="{{ url_for('people_add') }}" role="button">Add</a>
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-warning" href="{{ url_for('people_edit', id_people_edit_html=row.id_people) }}" role="button">Edit</a>
                        </td>
                        <td class="align-middle">
                            <a class="btn btn-danger"  href="{{ url_for('people_select_delete', id_people_delete_html=row.id_people) }}" role="button">Delete</a>
                        </td>
                    </tr>
                </tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun type.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('people_add') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
            </table>
        </div>
    </div>
</div>

<!--        <br>-->
<!--        <table border="1" cellpadding="5" cellspacing="5">-->
<!--            <thead>-->
<!--                <tr>-->
<!--                    <th>id</th>-->
<!--                    <th>Type</th>-->
<!--                    <th></th>-->
<!--                    <th></th>-->
<!--                    <th></th>-->
<!--                </tr>-->
<!--            </thead>-->
<!--            {% for row in data %}-->
<!--                <tr>-->
<!--                    <td>{{ row.id_TypeExercice }}</td>-->
<!--                    <td>{{ row.Type_TypeExercice }}</td>-->
<!--                    <td> <a href="{{ url_for('type_add') }}">Add</a> </td>-->
<!--                    <td> <a href="{{ url_for('type_edit', id_type_edit_html=row.id_TypeExercice) }}">Edit</a> </td>-->
<!--                    <td> <a href="{{ url_for('type_select_delete', id_type_delete_html=row.id_TypeExercice) }}">Delete</a> </td>-->
<!--                </tr>-->
<!--            {% endfor %}-->
<!--        </table>-->
{% endblock %}

