{% extends "base.html" %}
{% block title %} Ajouter un TYPE{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p style="margin-top: 10%">
                Entrer un nouveau type
            </p>
            <form method="POST">
                <div class="form-group">
                    <label id="Nom_type">
                        Nom type
                    </label>
                    <input type="text" class="form-control" name="name_type_html"/>
                </div>
                <button type="submit" class="btn btn-primary">
                    Enregistrer le type
                </button>
            </form>
        </div>
    </div>
</div>

<!--    <div class="home">-->
<!--        <BODY bgcolor="brown">-->
<!--        <form method="POST" action="">-->
<!--            <div>-->
<!--                {% if error %}-->
<!--                    <p class=error><strong>Error:</strong> {{ error }}-->
<!--                {% endif %}-->
<!--            </div>-->
<!--            <center>-->
<!--                <H1>Clavioter un nouveau COMPUTERS</H1> <br>-->
<!--                Nom genre <input people = "text" name= "name_type_html" /> <br>-->
<!--                <input people = "submit" value="Enregistrer le people">-->
<!--            </center>-->
<!--        </form>-->
<!--        </BODY>-->
<!--    </div>-->
{% endblock %}