{% extends "base.html" %}
{% block title %} Afficher ADMIN ET PEOPLE {% endblock %}
{% block body %}
<div class="container">
    <div class="col-md-12">
        <table class="table table-responsive-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="">
                            ID
                        </th>
                        <th class="">
                            Type d'utilisateur
                        </th>
                    </tr>
                </thead>
            {% endif %}
            {% for row in data %}
            <tbody>
                <tr>
                        <th class="align-middle">
                            {{row.id_type_admin}}
                        </th>
                        <th class="align-middle">
                            {{row.FK_type_admin|default("", True)}}
                        </th>
                        <th class="align-middle">
                            <a class="btn btn-primary" href="{{ url_for('type_admin_add') }}" role="button">Ajouter</a>
                        </th>
                        <th class="align-middle">
                            <a class="btn btn-warning" href="{{ url_for('type_admin_edit', id_type_admin_edit_html=row.id_type_admin) }}" role="button">Edit</a>
                        </th>
                        <th class="align-middle">
                            <a class="btn btn-danger" href="{{ url_for('type_admin_select_delete', id_type_admin_delete_html=row.id_type_admin) }}" role="button">Delete</a>
                        </th>
                    <tr>
                        <td class="align-middle">
                            <a class="btn btn-warning" href="{{ url_for('gf_edit_type_admin_selected', id_type_admin_type_edit_html=row.id_type_admin)}}" role="button">Modifier</a>
                        </td>
                        <td class="align-middle" colspan="5">
                            {{ row.Computers|default("PAS DE GENRES 42", True) }}
                        </td>
                    </tr>
                </tr>
            </tbody>
			{% else %}
				<tbody>
					<tr>
						<td>
							Aucun film.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('type_admin_add') }}" role="button">Add</a>
						</td>
					</tr>
				</tbody>
			{% endfor %}
        </table>
    </div>
</div>
{% endblock %}

