{% extends "base.html" %}
{% block title %} Homepage {% endblock %}
{% block body %}
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<h4>Home page</h4>

<h1>Gestion des administrateurs de la base de données</h1>
    <p> Bienvenue dans ce projet qui va permettre de gérer une base de données consacrée aux
        différents ordinateurs.
    </p>
    <p>
        Vous aurez la possibilité de gérer :
    </p>

    <ul>
      <li> Les administrateurs</li>
      <li> Les ordinateurs reçus</li>
      <li> Les clients</li>
      <li> La hérarchie des administrateurs</li>
    </ul>
{% endblock %}